.leaflet-container {
  margin: auto;
  height: 400px;
  width: 80%;
}

.leaflet-div-icon {
  background: transparent;
  border: none;
}

.leaflet-marker-pane {
  background-image: url(../assets/icon.png);
}
